body {
    background-color: #f4f4f4;
    font-family: Arial;
}

.container {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
